<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="article">
    <h1 class="Middle-title" th:text="${authorEntity}">Борис Васильевич Бедный
    </h1>
    <article class="Article">
        <div class="sdf">
        </div>
        <div class="Spoiler">
            <div class="Spoiler-visible">
                <div class="pict pict_left"><img src="/assets/img/content/main/card.jpg" alt="card.jpg"/>
                </div>
                <div>
                    <h2>Биография
                    </h2>
                    <p>Борис Бедный родился в семье учителя в 1916 году в станице Ярославская Краснодарского
                        края. Окончил Майкопский лесной техникум и был послан учиться в Ленинградскую
                        лесотехническую академию. Стал специалистом по сплаву леса и приехал в Республику Коми,
                        работать на сплавных предприятиях.
                    </p>
                    <p>В октябре 1941 года Борис пошёл на фронт, а в августе 1942 года попал в плен, и находился
                        там до апреля 1945 года.
                    </p>
                </div>
            </div>
            <div class="Spoiler-hide">
                <p>"Писать он начал до войны, в академии,- рассказал о нем в предисловии к книге "Первое дело"
                    поэт К.Ваншенкин.- Был участником литературных кружков и студий. Но всерьез вернулся к этому
                    в сорок шестом, в далекой сплавконторе, на Трехозерной запани. Печатался в Коми
                    республиканской газете "За новый Север" ("Красное знамя") и наконец решился вновь переломить
                    судьбу, поступив в Литературный институт" в 1952г.
                </p>
                <p>Борис Бедный широко печатался, особенно в журнале "Огонек".
                </p>
                <p>Первая книга - сборник повестей и рассказов "Большой поток" - посвящена людям леспромхоза.
                    Автор книг "Рассказы" (1954), "Неразменное счастье. Повести и рассказы" (1962). Наиболее
                    известная его повесть "Девчата" (1961) переведена на пятнадцать языков. По написанному им же
                    сценарию был поставлен одноименный фильм, до сих пор имеющий огромный успех.
                </p>
                <p>С литературным институтом Б.Бедный был связан еще более двадцати лет, уже как преподаватель.
                    Вел он семинар и на Высших литературных курсах. У него занимались Михаил Алексеев, Чингиз
                    Айтматов, Анатолий Аграновский, Игнатий Дворжецкий.
                </p>
                <p>В жизни Бориса Бедного была одна постоянная горькая боль. Летом сорок первого, в жестоких
                    боях под Воронежем он, командуя стрелковым взводом, попал в окружение, а потом в плен. Был
                    отправлен в Германию, в лагерь, на тяжелейшие работы, прошел настоящий ад, не потеряв себя и
                    не уронив достоинства. В октябре 1945 г. после проверки он был демобилизован в своем же
                    офицерском звании младшего лейтенанта запаса и вскоре приступил к работе по специальности.
                </p>
                <p>Есть в аннотации Константина Ваншенкина и детали, позволяющие выйти на родственные связи
                    писателя с нашей республикой. Ведь жену он привез в Москву из Сыктывкара. Звали ее Маша. Она
                    работала стюардессой на авиалинии Сыктывкар-Быково.
                </p>
                <p>Поселок Седкыркещ построен бывшими военнопленными и "власовцами", многие из которых даже
                    оружия в руках не держали. Они одевались плохо, часто болели, жили, в основном, в землянках.
                    В такой атмосфере и вращался писатель Борис Бедный.
                </p>
                <p>Борис Васильевич Бедный умер в 1976 г. в Москве. Шел по улице, почувствовал себя плохо.
                    Острый обширный инфаркт, до больницы не довезли…
                </p>
            </div>
            <div class="Spoiler-footer">
                <button class="Spoiler-trigger btn btn_primary btn_nr" type="button" data-showtext="Свернуть"
                        data-hidetext="Показать полностью">
                </button>
            </div>
        </div>
    </article>
</div>
</html>