<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="article">
    <h1 class="Middle-title" th:text="${Author.getName()}">Борис Васильевич Бедный
    </h1>
    <article class="Article">
        <div class="sdf">
        </div>
        <div class="Spoiler">
            <div class="Spoiler-visible">
                <div class="pict pict_left"><img src="/assets/img/content/main/card.jpg" th:src="${Author.getPhoto()}" alt="card.jpg"/>
                </div>
                <div>
                    <h2>Биография
                    </h2>
                    <p th:text="${#strings.substring(Author.getDescription(),0,Author.getDescription().length()/4)}+'...'">
                        Борис Бедный родился в семье учителя в 1916 году в станице Ярославская Краснодарского
                    </p>
                </div>
            </div>
            <div class="Spoiler-hide">
                <p  th:text="${#strings.substring(Author.getDescription(),Author.getDescription().length()/4,Author.getDescription().length())}">
                    "Писать он начал до войны, в академии,- рассказал о нем в предисловии к книге "Первое дело"
                </p>
            </div>
            <div class="Spoiler-footer">
                <button class="Spoiler-trigger btn btn_primary btn_nr" type="button" data-showtext="Свернуть"
                        data-hidetext="Показать полностью">
                </button>
            </div>
        </div>
    </article>
</div>
</html>