<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="Rating Rating_noStyleLink" th:fragment="star" th:switch="${#strings.substringBefore(data,',')}">
                    <span class="Rating-stars" th:case="'1'">
                        <span class="Rating-star Rating-star_view">
                          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                            <g>
                              <g>
                                <path fill="#ffc000"
                                      d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                              </g>
                            </g>
                          </svg>
                        </span>
                    </span>
    <span class="Rating-stars" th:case="'2'">
                        <span class="Rating-star Rating-star_view">
                          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                            <g>
                              <g>
                                <path fill="#ffc000"
                                      d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                              </g>
                            </g>
                          </svg>
                        </span>
            <span class="Rating-star Rating-star_view">
                          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                            <g>
                              <g>
                                <path fill="#ffc000"
                                      d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                              </g>
                            </g>
                          </svg>
                        </span>
                    </span>
    <span class="Rating-stars" th:case="'3'">
                        <span class="Rating-star Rating-star_view">
                          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                            <g>
                              <g>
                                <path fill="#ffc000"
                                      d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                              </g>
                            </g>
                          </svg>
                        </span>
            <span class="Rating-star Rating-star_view">
                          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                            <g>
                              <g>
                                <path fill="#ffc000"
                                      d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                              </g>
                            </g>
                          </svg>
                        </span>
            <span class="Rating-star Rating-star_view">
                          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                            <g>
                              <g>
                                <path fill="#ffc000"
                                      d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                              </g>
                            </g>
                          </svg>
                        </span>
                    </span>
    <span class="Rating-stars" th:case="'4'">
                        <span class="Rating-star Rating-star_view">
                          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                            <g>
                              <g>
                                <path fill="#ffc000"
                                      d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                              </g>
                            </g>
                          </svg>
                        </span>
            <span class="Rating-star Rating-star_view">
                          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                            <g>
                              <g>
                                <path fill="#ffc000"
                                      d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                              </g>
                            </g>
                          </svg>
                        </span>
            <span class="Rating-star Rating-star_view">
                          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                            <g>
                              <g>
                                <path fill="#ffc000"
                                      d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                              </g>
                            </g>
                          </svg>
                        </span>
           <span class="Rating-star Rating-star_view">
                          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                            <g>
                              <g>
                                <path fill="#ffc000"
                                      d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                              </g>
                            </g>
                          </svg>
                        </span>
                    </span>
    <span class="Rating-stars" th:case="'5'">
                        <span class="Rating-star Rating-star_view">
                          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                            <g>
                              <g>
                                <path fill="#ffc000"
                                      d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                              </g>
                            </g>
                          </svg>
                        </span>
            <span class="Rating-star Rating-star_view">
                          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                            <g>
                              <g>
                                <path fill="#ffc000"
                                      d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                              </g>
                            </g>
                          </svg>
                        </span>
            <span class="Rating-star Rating-star_view">
                          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                            <g>
                              <g>
                                <path fill="#ffc000"
                                      d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                              </g>
                            </g>
                          </svg>
                        </span>
           <span class="Rating-star Rating-star_view">
                          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                            <g>
                              <g>
                                <path fill="#ffc000"
                                      d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                              </g>
                            </g>
                          </svg>
                        </span>
           <span class="Rating-star Rating-star_view">
                          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                            <g>
                              <g>
                                <path fill="#ffc000"
                                      d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                              </g>
                            </g>
                          </svg>
                        </span>
                    </span>
    <span class="Rating-title" th:text="'('+${#strings.substringAfter(data,',')}+')'">(567)</span>
</div>
</html>
