<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="bookSlider">
    <div class="Section-header">
        <h2 class="Section-title" th:if="${title == 'author'}" th:text="#{index.author}">Рекомендуемое</h2>
        <h2 class="Section-title" th:if="${title == 'popular'}" th:text="#{index.popular}">Рекомендуемое</h2>
        <h2 class="Section-title" th:if="${title == 'recent'}" th:text="#{index.recent}">Рекомендуемое</h2>
        <h2 class="Section-title" th:if="${title == 'recommended'}" th:text="#{index.recommend}">Рекомендуемое</h2>
    </div>
    <div class="Slider Slider_carousel">
        <div th:attr="data-load=${title},data-author=${title== 'author' ? Author.getName():''}"
             data-author="author"
             class="Slider-box Cards" data-load="author"
             data-loadoffset="0"
             data-loadlimit="6">
            <div class="Slider-item"
                 th:each="book : ${title=='author'?AuthorsBooksList :(title=='recent'?recentBooks:(title=='recommended'?recommendedBooks:popularBooks))}">
                <div class="Slider-content">
                    <div class="Card"><a class="Card-picture" th:href="@{'/books/'+${book.slug}}" href="/books/slug.html">
                        <img th:src="${book.image}" src="/assets/img/content/main/card.jpg" alt="card.jpg"/></a>
                        <div class="Card-content">
                            <strong class="Card-title">
                                <a th:href="@{'/books/' +${book.slug}}" href="#" th:text="${book.title}">Техника</a>
                            </strong>
                            <div class="Card-description" th:text="${book.authorsNames}">
                                Кондратенко Валерий Петрович
                            </div>
                            <div class="Card-cost">
                                        <span th:if="${ not #lists.isEmpty(book.discount)}" class="Card-priceOld"
                                              th:text="${'₽' +  #numbers.formatDecimal(book.getPrice() +(book.getPrice()*book.getDiscount()),2,0)}">₽300.00</span>
                                <span class="Card-price" th:text="${'₽'+book.price}">₽190.00</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="Slider-navigateWrap">
            <div class="Slider-navigate">
            </div>
        </div>
        <div class="Slider-load">
            <div class="Slider-load-text">Идет загрузка данных
            </div>
        </div>
    </div>
</div>
</html>
