<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="ProductCard-desc" th:fragment="bookDesc">
    <div class="ProductCard-header">
        <h1 class="ProductCard-title" th:text="${slugBook.getTitle()}">Мара и морок
        </h1>
        <div class="ProductCard-authorEntity"><span class="ProductCard-titleProp">Автор:</span>&#32;<a
                href="#" th:if="${slugBook.authorsNames!=null}" th:href="@{/books/authorEntity(author=${#strings.contains(slugBook.authorsNames,',') ?
                 #strings.substringBefore(slugBook.authorsNames,',') : slugBook.authorsNames})}"
                th:text="${slugBook.getAuthorsNames()}">Лия Арден</a>
        </div>
        <div class="ProductCard-rating"><span class="ProductCard-titleProp">Рейтинг:</span>
            <button class="trigger trigger_dropdown" type="button">
                <div th:replace="~{fragments/book_slug_stars_fragments :: star(data=${slugBookRatingGrade}+','+${slugBookRatingGradeSize})}"></div>
                <div class="modal modal_compression modal_dropdown">
                    <div class="modal-window"><a class="modal-close"
                                                 href="#"><span></span><span></span></a>
                        <strong class="modal-title">Распределение оценок
                        </strong>
                        <div class="RatingGroup"><span class="Rating" ><span
                                class="Rating-stars"><span class="Rating-star Rating-star_view">
                            <div th:replace="~{fragments/book_slug_stars_fragments :: star(data=5+','+${fiveStareRate})}"></div>

                        </span></span></span><br><span class="Rating"><span class="Rating-stars"><span
                                class="Rating-star Rating-star_view">
                                <div th:replace="~{fragments/book_slug_stars_fragments :: star(data=4+','+${fourStareRate})}"></div>

                            </span></span></span><br><span
                                class="Rating"><span class="Rating-stars"><span
                                class="Rating-star Rating-star_view">
                                 <div th:replace="~{fragments/book_slug_stars_fragments :: star(data=3+','+${threeStareRate})}"></div>

                            </span></span></span><br><span
                                class="Rating"><span class="Rating-stars"><span
                                class="Rating-star Rating-star_view">
                                 <div th:replace="~{fragments/book_slug_stars_fragments :: star(data=2+','+${twoStareRate})}"></div>

                            </span></span></span><br><span class="Rating"><span
                                class="Rating-stars"><span class="Rating-star Rating-star_view">
                                 <div th:replace="~{fragments/book_slug_stars_fragments :: star(data=1+','+${oneStareRate})}"></div>

                            </span></span></span>
                        </div>
                    </div>
                </div>
            </button>
        </div>
        <div class="ProductCard-assessment" th:if="${curUsrStatus=='authorized'}">
            <span class="ProductCard-titleProp">Оцените книгу:</span>
            <span class="Rating Rating_input" th:attr="data-bookid=${slugBook.slug}"
                  data-bookid="book-sbf-719"><span
                class="Rating-stars"><span class="Rating-star">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                          <g>
                            <g>
                              <path fill="#ffc000"
                                    d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                            </g>
                          </g>
                        </svg></span>
                      <input name="rating" type="radio" value="1"/><span class="Rating-star">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                          <g>
                            <g>
                              <path fill="#ffc000"
                                    d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                            </g>
                          </g>
                        </svg></span>
                      <input name="rating" type="radio" value="2"/><span class="Rating-star">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                          <g>
                            <g>
                              <path fill="#ffc000"
                                    d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                            </g>
                          </g>
                        </svg></span>
                      <input name="rating" type="radio" value="3"/><span class="Rating-star">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                          <g>
                            <g>
                              <path fill="#ffc000"
                                    d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                            </g>
                          </g>
                        </svg></span>
                      <input name="rating" type="radio" value="4"/><span class="Rating-star">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                          <g>
                            <g>
                              <path fill="#ffc000"
                                    d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                            </g>
                          </g>
                        </svg></span>
                      <input name="rating" type="radio" value="5"/></span></span>
        </div>
        <div class="ProductCard-tags">
            <span class="ProductCard-titleProp">Тэги:</span>
            <a th:href="@{/books/tags(tag=${slugBook.tag}, offset=0, limit=10)}" href="/tags/" th:text="${slugBook.tag}">Современные</a>
         </div>
        <div class="ProductCard-cost"><span class="ProductCard-titleProp">Цена:</span><span
                class="ProductCard-priceOld" th:text="${'₽'+#numbers.formatDecimal(slugBook.getPrice() + slugBook.getPrice()*slugBook.getDiscount(),2,0)} ">₽300</span><span class="ProductCard-price" th:text="'₽'+${slugBook.getPrice()}">₽180</span>
        </div>
    </div>
    <div class="ProductCard-text" th:text="${slugBook.getDescription()}">
        <p>Таких, как я, называют Марами - отмеченными самой богиней смерти Мораной. Когда-то у меня
            и моих шести сестер был свой путь. Тогда люди нас уважали и просили о милосердии. Они
            приносили нам подношения и молились нам. Но 200 лет назад все изменилось, когда принц
            Серата осмелился поднять руку на одну из нас. Я пыталась отомстить, но погибли мы все.
            Теперь правители Аракена, погрязшие в длительной войне со своим соседом Сератом, решили
            вернуть меня к жизни. Дать второй шанс на месть и свободу, привязав меня к тому, против
            кого я никогда не пойду. Таких, как он, называют Морок, и их боятся абсолютно все.
        </p>
    </div>
    <div th:replace="~{fragments/book_slug_buttons_fragment :: panel}"></div>
</div>
</html>