<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="block">
    <h2>1. Что регулирует настоящая политика конфиденциальности
    </h2>
    <p>Настоящая политика конфиденциальности (далее — Политика) действует в отношении всей информации,
        включая персональные данные в понимании применимого законодательства (далее — «Персональная
        информация»), которую ООО «ЯНДЕКС» и/или его аффилированные лица, в том числе входящие в одну
        группу с ООО «ЯНДЕКС» (далее — «Яндекс»), могут получить о Вас в процессе использования Вами
        любых сайтов, программ, продуктов и/или сервисов Яндекса (далее вместе — «Сервисы»), информацию
        о которых Вы можете найти на сайтах yandex.ru, yandex.com, yandex.ua, yandex.by, yandex.kz,
        yandex.com.tr, yandex.co.il и других принадлежащих Яндексу сайтах (далее вместе — «Сайты»), а
        также в ходе исполнения Яндексом / его аффилированными лицами любых соглашений и договоров,
        заключенных с Вами в связи с использованием Вами Сервисов. Яндекс может также получать
        Персональную информацию от своих партнеров (далее — «Партнеры»), сайты, программы, продукты или
        сервисы которых Вы используете (например, от рекламодателей Яндекса или службами такси). В таких
        случаях передача Персональной информации возможна только в случаях, установленных применимым
        законодательством, и осуществляется на основании специальных договоров между Яндексом и каждым
        из Партнеров.
    </p>
    <p>Пожалуйста,&#32;<a href="#">обратите внимание,</a>&#32;что использование любого из Сайтов и/или
        Сервисов может регулироваться дополнительными условиями, которые могут вносить в настоящую
        Политику изменения и/или дополнения, и/или иметь специальные условия в отношении персональной
        информации, размещенные в соответствующих разделах документов для таких Сайтов /или Сервисов.
    </p>
    <h2>2. Кто обрабатывает информацию
    </h2>
    <p>Для обеспечения использования Вами Сайтов и Сервисов Ваша Персональная информация собирается и
        используется Яндексом, в том числе включая общество с ограниченной ответственностью «ЯНДЕКС»,
        юридическое лицо, созданное по законодательству Российской Федерации и зарегистрированное по
        адресу: 119021, Россия, Москва, ул. Льва Толстого, д. 16 (ООО «ЯНДЕКС»), или его аффилированным
        лицом, предоставляющим соответствующий Сервис в иных юрисдикциях. С информацией о том, какое
        лицо предоставляет тот или иной Сервис, Вы можете ознакомиться в условиях использования
        соответствующего Сервиса.
    </p>
    <p>Для пользователей, находящихся на территории Европейской экономической зоны (ЕЭЗ) или Швейцарии,
        Яндекс представлен на территории ЕЭЗ и Швейцарии компанией Yandex Oy, юридическим лицом,
        созданным по законодательству Финляндии, зарегистрированным по адресу: Морееникату 6, 04600
        Мянтсяля, Финляндия (Moreenikatu 6, 04600 Mäntsälä, Suomi).
    </p>
    <p>Для пользователей, находящихся на территории Израиля, Яндекс представлен на территории компанией
        Yandex.Go Israel Ltd, юридическим лицом, созданным по законодательству Израиля,
        зарегистрированным по адресу: 148 Menachem Begin St., Tel Aviv, Israel 6492104
    </p>
    <h2>3. Какова цель данной Политики
    </h2>
    <p>Защита Вашей Персональной информации и Вашей конфиденциальности чрезвычайно важны для Яндекса.
        Поэтому при использовании Вами Сайтов и Сервисов Яндекс защищает и обрабатывает Вашу
        Персональную информацию в строгом соответствии с применимым законодательством.
    </p>
    <p>Следуя нашим обязанностям защищать Вашу Персональную информацию, в этой Политике мы хотели бы
        наиболее прозрачно проинформировать Вас о следующих моментах:
    </p>
    <ul>
        <li>зачем и как Яндекс собирает и использует («обрабатывает») Вашу Персональную информацию,
            когда Вы используете Сайты и/или Сервисы;
        </li>
        <li>какова роль и обязанности Яндекса как юридического лица, принимающего решение о том, зачем и
            как обрабатывать Вашу Персональную информацию;
        </li>
        <li>какие инструменты Вы можете использовать для сокращения объема собираемой Яндексом
            Персональной информации о Вас;
        </li>
        <li>каковы Ваши права в рамках проводимой обработки Персональной информации.
        </li>
    </ul>
    <h2>4. Какую Персональную информацию о Вас собирает Яндекс
    </h2>
    <p>Персональная информация, собранная в процессе работы Сайтов и/или предоставления Сервисов, может
        различаться в зависимости от того, используете Вы для доступа к Сайтам и/или Сервисам Вашу
        учетную запись или нет. В тех случаях, когда Вы осуществляете вход в свою учетную запись,
        Персональная информация, собранная о Вас Яндексом во время использования Вами Сайтов и Сервисов,
        может быть сопоставлена и связана с другой Персональной информацией, собранной Яндексом в рамках
        использования Вами Вашей учетной записи (например, данные о Вашей личности, контактные данные,
        возраст и пол, если они были предоставлены Яндексу). Яндекс не проверяет предоставленную Вами
        Персональную информацию за исключением случаев, предусмотренных пользовательским соглашением или
        условиями использования отдельных сервисов, и не может судить о ее достоверности, а также о том,
        обладаете ли вы достаточной правоспособностью для предоставления Вашей Персональной информации.
        Тем не менее Яндекс исходит из того, что Вы предоставляете достоверную и достаточную
        Персональную информацию, а также своевременно обновляете ее.
    </p>
    <p>Яндекс может собирать следующие категории Персональной информации о Вас во время использования
        Вами Сайтов и Сервисов:
    </p>
    <ul>
        <li>Персональная информация, предоставленная Вами при регистрации (создании учетной записи),
            такая как Ваше имя, номер телефона, адрес и возраст;
        </li>
        <li>электронные данные (HTTP-заголовки, IP-адрес, файлы cookie, веб-маяки/пиксельные теги,
            данные об идентификаторе браузера, информация об аппаратном и программном обеспечении);
        </li>
        <li>дата и время осуществления доступа к Сайтам и/или Сервисам;
        </li>
        <li>информация о Вашей активности во время использования Сайтов и/или Сервисов (например,
            история поисковых запросов; адреса электронной почты тех, с кем Вы ведете переписку;
            содержание электронной почты и вложения, а также файлы, хранящиеся в системах Яндекса);
        </li>
        <li>информация о геолокации;
        </li>
        <li>иная информация о Вас, необходимая для обработки в соответствии с условиями, регулирующими
            использование конкретных Сайтов или Сервисов Яндекса;
        </li>
        <li>информация о Вас, которую мы получаем от наших Партнеров в соответствии с условиями
            соглашений, заключенных между Вами и соответствующим Партнером, и соглашений, заключенных
            между Яндексом и Партнером.
        </li>
    </ul>
    <p>Также Яндекс использует файлы cookie и веб-маяки (включая пиксельные теги) для сбора Персональной
        информации и связывания такой личной информации с Вашим устройством и веб-браузером (см. раздел
        11 настоящей Политики).
    </p>
    <p>Яндекс не собирает целенаправленно чувствительную персональную информацию (такую как расовое
        происхождение, политические взгляды, информация о здоровье и биометрические данные), за
        исключением случаев, предусмотренных пользовательскими соглашениями отдельных Сервисов. Тем не
        менее Вы можете самостоятельно предоставить их Яндексу, и в таком случае Яндекс будет
        обрабатывать их в рамках предоставления Вам Сервисов (например, если Вы задаете поисковые
        запросы, относящиеся к Вашему здоровью). При этом Вы должны принимать во внимание, что Яндекс не
        может запросить Ваше согласие на такую обработку, поскольку не осведомлен заранее о потенциально
        чувствительном характере Персональной информации, которую Вы можете предоставить Яндексу.
    </p>
    <p>Яндекс не собирает данные с целью составления «портрета» пользователя в той степени, при которой
        это может существенно повлиять на Ваши права и свободы в соответствии с применимым
        законодательством.
    </p>
    <h2>5. Какова правовая основа и цели обработки Вашей Персональной информации
    </h2>
    <p>Яндекс не вправе обрабатывать Вашу Персональную информацию без достаточных на то правовых
        оснований. Поэтому Яндекс обрабатывает Вашу Персональную информацию только в том случае, если:
    </p>
    <ol>
        <li>обработка необходима для выполнения договорных обязательств Яндекса перед Вами, включая
            обеспечение работы Сайтов и Сервисов (например, предоставление Вам результатов поиска по
            Вашим поисковым запросам);
        </li>
        <li>обработка необходима для соблюдения установленных законодательством обязательств;
        </li>
        <li>когда это предусмотрено применимым законодательством, обработка необходима для обеспечения
            законных интересов Яндекса в случае, если такая обработка не оказывает существенного влияния
            на Ваши интересы, Ваши фундаментальные права и свободы. Обратите внимание, что при обработке
            Вашей персональной информации на указанном основании, Яндекс всегда будет стремиться
            поддерживать баланс между своими законными интересами и защитой Вашей конфиденциальности.
        </li>
    </ol>
    <p>Яндекс обрабатывает Вашу Персональную информацию для обеспечения своих законных интересов,
        например, в следующих случаях:
    </p>
    <ul>
        <li>чтобы лучше понимать, как Вы взаимодействуете с нашими Сайтами и/или Сервисами;
        </li>
        <li>чтобы совершенствовать, менять, персонализировать или иным образом улучшать Сайты и Сервисы
            в интересах всех пользователей;
            <ul>
                <li>sdfs
                </li>
                <li>sdfsll
                </li>
            </ul>
        </li>
        <li>чтобы предлагать Вам другие продукты и сервисы Яндекса или других компаний, которые, по
            нашему мнению, могут Вас заинтересовать (т. е. показывать Вам рекламу, учитывающую Ваши
            интересы);
        </li>
        <li>для конкретных целей либо в соответствии с требованием применимого законодательства мы можем
            запросить Ваше отдельное согласие на обработку Вашей Персональной информации. Для
            юрисдикций, где согласие признается отдельным правовым основанием, начало использования вами
            Сайтов и/или Сервисов Яндекс выражает Ваше согласие с такой обработкой. Настоящим мы
            информируем Вас, а Вы подтверждаете, что у Вас нет никаких обязательств по предоставлению
            нам какой-либо Персональной информации при использовании Вами Сайтов или Услуг и основано
            исключительно на Вашей свободной воле. Вместе с тем Вы осознаете, что без предоставления
            Персональной информации мы не сможем предоставить Вам возможность воспользоваться Сервисами,
            а использование Вами Сайтов будет ограничено.
        </li>
    </ul>
    <p>Яндекс всегда обрабатывает Вашу Персональную информацию в определенных целях и только ту
        Персональную информацию, которая имеет отношение к достижению таких целей. В частности, мы
        обрабатываем Вашу Персональную информацию для следующих целей:
    </p>
    <ol>
        <li>предоставление Вам доступа к Сайтам и/или Сервисам (в т. ч. предоставление результатов
            поиска в ответ на Ваши поисковые запросы с учетом Ваших предпочтений, истории поиска и
            другой Персональной информации о Вас, доступной Яндексу);
        </li>
        <li>предоставление доступа к Вашей учетной записи, включая электронный почтовый ящик Яндекса и
            хранилище файлов, если Вы зарегистрированы в соответствующих Сервисах;
        </li>
        <li>осуществление связи с Вами для направления Вам уведомлений, запросов и информации,
            относящейся к работе Сайтов и Сервисов, выполнения соглашений с Вами и обработки Ваших
            запросов и заявок;
        </li>
        <li>персонализация рекламы и предложений с учетом Ваших предпочтений, истории поиска и другой
            Персональной информации о Вас, доступной Яндексу;
        </li>
        <li>повышение удобства использования Сайтов и Сервисов, в том числе для показа наиболее
            релевантных результатов поиска и предоставления более персонализированных Сайтов и Сервисов,
            а также для улучшения других продуктов, приложений и Сервисов Яндекса;
        </li>
        <li>создание новых продуктов, утилит и предложений Яндекса;
        </li>
        <li>защита Ваших прав и прав Яндекса;
        </li>
        <li>сбор, обработка и представление статистических данных, больших данных и других исследований.
        </li>
    </ol>
    <p>Информацию об обработке Ваших данных, полученных Яндексом от Google LLC (1600 Amphitheatre
        Parkway, Mountain View, California 94043, United States) в связи с использованием Вами Сервисов
        Яндекса, содержащих технологию API Google (https://developers.google.ru/terms) Вы можете найти
        по ссылке: https://yandex.com/legal/confidential_google_api.
    </p>
</div>
</html>