<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="Tags" id="tags" th:fragment="cloud" >
    <div th:each="tagList : ${tagListMap}"  class="Tag" >
        <a href="/tags/index.html" th:if="${tagList.value.size() > tagListMapXsSize && tagList.value.size() < tagListMapLgSize}" th:class="${tagList.value.size() - (tagListMapLgSize+tagListMapXsSize)/2 <= 2 && tagList.value.size() - (tagListMapLgSize+tagListMapXsSize)/2 >= -2} ? 'Tag' :(${ tagList.value.size() -(tagListMapLgSize+tagListMapXsSize)/2 > 0}?'Tag_md':'Tag_sm')" th:href="@{/books/tags(tag=${tagList.key})}"  th:text="${tagList.key+' (' + tagList.value.size()+')'}">современная литература</a>
        <a href="/tags/index.html" th:if="${tagList.value.size() == tagListMapLgSize}" th:class="Tag_lg" th:href="@{/books/tags(tag=${tagList.key})}"  th:text="${tagList.key+' (' + tagList.value.size()+')'}">современная литература</a>
        <a href="/tags/index.html" th:if="${tagList.value.size() == tagListMapXsSize}" th:class="Tag_xs" th:href="@{/books/tags(tag=${tagList.key})}"  th:text="${tagList.key+' (' + tagList.value.size()+')'}">современная литература</a>
    </div>
</div>
</html>
