<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Postponed</title>
    <meta name="description" content="Описание страницы">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link href="/favicon.ico" rel="shortcut icon">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-SemiBold.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Light.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Medium.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-ExtraBold.woff2" as="font" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/fonts.min.css?v=04238027">
    <link rel="stylesheet" href="/assets/css/basic.min.css?v=04238027">
    <link rel="stylesheet" href="/assets/css/extra.min.css?v=04238027">
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script defer src="/assets/js/scripts.min.js?v=04238027"></script>
</head>
<body class="Site">
<header class="Header"
        th:replace="~{fragments/common_header_fragment :: head( status=${curUsrStatus})}"></header>
<div class="Middle">
    <div class="wrap">
        <main class="Middle-main">
            <h1 class="Middle-title">Отложенное
            </h1>
            <h3 th:if="${isPostponedEmpty}">Раздел пуст o(*￣▽￣*)ブ
            </h3>
            <form class="form Cart Cart_postponed" action="#" method="post">
                <div class="Cart-product" th:each="book : ${postponedBooks}">
                    <div class="Cart-block Cart-block_row">
                        <div class="Cart-block Cart-block_pict"><a class="Cart-pict" th:href="@{'/books/'+${book.slug}}" href="#" ><img class="Cart-img"
                                                                                                 th:src="${book.image}"
                                                                                                   src="/assets/img/content/main/card.jpg"
                                                                                                   alt="card.jpg"/></a>
                        </div>
                        <div class="Cart-block Cart-block_row">
                            <div class="Cart-block Cart-block_info">
                                <div class="Cart-authorEntity"><a th:href="@{/books/authorEntity(author=${#strings.contains(book.authorsNames,',')? #strings.substringBefore(book.authorsNames,',') : book.authorsNames})}"
                                                                  href="#" th:text="${book.authorsNames}">Борис Васильевич Бедный</a>
                                </div>
                                <div class="Cart-title"><a th:href="@{'/books/'+${book.slug}}" href="#" th:text="${book.title}" >Жизнь</a>
                                </div>
                                <div class="Cart-rating"><span class="Rating"><span class="Rating-stars"><span
                                        class="Rating-star Rating-star_view">
                          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                            <g>
                              <g>
                                <path fill="#ffc000"
                                      d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                              </g>
                            </g>
                          </svg></span><span class="Rating-star Rating-star_view">
                          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                            <g>
                              <g>
                                <path fill="#ffc000"
                                      d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                              </g>
                            </g>
                          </svg></span><span class="Rating-star Rating-star_view">
                          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                            <g>
                              <g>
                                <path fill="#ffc000"
                                      d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                              </g>
                            </g>
                          </svg></span><span class="Rating-star">
                          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                            <g>
                              <g>
                                <path fill="#ffc000"
                                      d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                              </g>
                            </g>
                          </svg></span><span class="Rating-star">
                          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                            <g>
                              <g>
                                <path fill="#ffc000"
                                      d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                              </g>
                            </g>
                          </svg></span></span></span>
                                </div>
                                <div class="Cart-buttons">
                                    <div class="Cart-btn">
                                        <button class="btn btn_primary btn_outline" data-sendstatus="CART"
                                                th:attr="data-bookid=${'postponed/cart/'+book.slug}"
                                                data-bookid="[1122]"><span class="btn-icon"><img
                                                src="/assets/img/icons/shopping-basket.svg" alt="shopping-basket.svg"/></span><span
                                                class="btn-content">Купить</span>
                                        </button>
                                    </div>
                                    <div class="Cart-btn">
                                        <button class="btn btn_danger btn_outline" data-sendstatus="UNLINK"
                                                th:attr="data-bookid=${'postponed/remove/'+book.slug}"
                                                data-bookid="[1122]"><span class="btn-icon"><img
                                                src="/assets/img/icons/trash.svg" alt="trash.svg"/></span><span
                                                class="btn-content">Удалить</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="Cart-block Cart-block_price">
                                <div class="Cart-priceTitle">Цена:
                                </div>
                                <div class="Cart-price Cart-price_old" th:text="${'₽'+ #numbers.formatDecimal(book.getPrice() +(book.getPrice()*book.getDiscount()),2,0)}">354 р.
                                </div>
                                <div class="Cart-price" th:text="${'₽'+book.getPrice()}">254 р.
                                </div>
                                <div class="Cart-sale" th:text="${'-'+ #numbers.formatDecimal(book.getDiscount()*100,1,0)+'%'}"> 10
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Cart-total">
                    <div class="Cart-block Cart-block_total">
                    </div>
                    <div class="Cart-block" th:if="${!isPostponedEmpty}">
                        <button class="btn btn_success btn_md Cart-buyAll" data-sendstatus="CART"
                                th:attr="data-bookid=${'cart/'+buyAllPostponedBooks}"
                                data-bookid="[1111, 1122, 1133]" >Купить все
                        </button>
                    </div>
                </div>
            </form>
        </main>
    </div>
</div>
<footer class="Footer" th:replace="~{fragments/common_footer_fragment :: footer}"></footer>
<script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
</body>
</html>